In [1]:
import pandas as pd
df =pd.read_csv("../artifact/07062023__182658/data_ingestion/dataset/train.csv")

In [2]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,22,2.0,44.0,NaN,0.0,0.0,0.0,0.0,3454.0,...,196.0,34.0,46.0,24.0,10.0,0.0,0.0,0.0,0.0,0.0
1,neg,10,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36.0,26.0,36.0,46.0,100.0,26.0,0.0,0.0,0.0,0.0
2,neg,41474,NaN,598.0,NaN,0.0,0.0,0.0,0.0,0.0,...,331610.0,177770.0,348412.0,315844.0,237834.0,148534.0,258180.0,15748.0,0.0,0.0
3,neg,18928,NaN,1406.0,1406.0,0.0,0.0,0.0,0.0,0.0,...,58134.0,5134.0,1764.0,92.0,14.0,0.0,0.0,0.0,0.0,0.0
4,neg,26,NaN,20.0,20.0,0.0,0.0,0.0,0.0,0.0,...,508.0,76.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.isnull().sum()/df.shape[0]

class     0.000000
aa_000    0.000000
ab_000    0.772297
ac_000    0.059516
ad_000    0.256062
            ...
ee_007    0.010535
ee_008    0.010535
ee_009    0.010535
ef_000    0.048290
eg_000    0.048256
Length: 171, dtype: float64

In [14]:
drop_col_name =[]
for col_name,missing_percent in zip((df.isnull().sum()/df.shape[0]).index,(df.isnull().sum()/df.shape[0]).values):
    print(col_name,missing_percent*100)
    if missing_percent>.3:
        drop_col_name.append(col_name)

class 0.0
aa_000 0.0
ab_000 77.22970639032816
ac_000 5.951640759930915
ad_000 25.606217616580313
ae_000 4.431778929188256
af_000 4.431778929188256
ag_000 1.0535405872193437
ag_001 1.0535405872193437
ag_002 1.0535405872193437
ag_003 1.0535405872193437
ag_004 1.0535405872193437
ag_005 1.0535405872193437
ag_006 1.0535405872193437
ag_007 1.0535405872193437
ag_008 1.0535405872193437
ag_009 1.0535405872193437
ah_000 1.0984455958549224
ai_000 1.07426597582038
aj_000 1.07426597582038
ak_000 7.844559585492227
al_000 1.0880829015544042
am_0 1.07426597582038
an_000 1.0880829015544042
ao_000 0.9740932642487047
ap_000 1.0880829015544042
aq_000 0.9740932642487047
ar_000 4.825561312607944
as_000 1.07426597582038
at_000 1.07426597582038
au_000 1.07426597582038
av_000 4.435233160621762
ax_000 4.435233160621762
ay_000 1.0535405872193437
ay_001 1.0535405872193437
ay_002 1.0535405872193437
ay_003 1.0535405872193437
ay_004 1.0535405872193437
ay_005 1.0535405872193437
ay_006 1.0535405872193437
ay_007 1.0535405872193437
ay_008 1.0535405872193437
ay_009 1.0535405872193437
az_000 1.0535405872193437
az_001 1.0535405872193437
az_002 1.0535405872193437
az_003 1.0535405872193437
az_004 1.0535405872193437
az_005 1.0535405872193437
az_006 1.0535405872193437
az_007 1.0535405872193437
az_008 1.0535405872193437
az_009 1.0535405872193437
ba_000 1.07426597582038
ba_001 1.07426597582038
ba_002 1.07426597582038
ba_003 1.07426597582038
ba_004 1.07426597582038
ba_005 1.07426597582038
ba_006 1.07426597582038
ba_007 1.07426597582038
ba_008 1.07426597582038
ba_009 1.07426597582038
bb_000 1.0984455958549224
bc_000 4.82901554404145
bd_000 4.82901554404145
be_000 4.438687392055267
bf_000 4.431778929188256
bg_000 1.0880829015544042
bh_000 1.0880829015544042
bi_000 0.9740932642487047
bj_000 0.9740932642487047
bk_000 37.92055267702936
bl_000 44.770293609671846
bm_000 65.27461139896373
bn_000 72.52504317789293
bo_000 76.23834196891191
bp_000 78.50086355785838
bq_000 80.20725388601036
br_000 81.07426597582038
bs_000 1.1778929188255614
bt_000 0.21416234887737476
bu_000 1.1433506044905009
bv_000 1.1433506044905009
bx_000 5.291882556131261
by_000 0.7461139896373057
bz_000 4.825561312607944
ca_000 7.751295336787564
cb_000 1.1778929188255614
cc_000 5.288428324697755
cd_000 1.132987910189983
ce_000 4.442141623488774
cf_000 25.606217616580313
cg_000 25.606217616580313
ch_000 25.606217616580313
ci_000 0.5595854922279793
cj_000 0.5595854922279793
ck_000 0.5595854922279793
cl_000 16.14853195164076
cm_000 16.73229706390328
cn_000 1.070811744386874
cn_001 1.070811744386874
cn_002 1.070811744386874
cn_003 1.070811744386874
cn_004 1.070811744386874
cn_005 1.070811744386874
cn_006 1.070811744386874
cn_007 1.070811744386874
cn_008 1.070811744386874
cn_009 1.070811744386874
co_000 25.606217616580313
cp_000 4.82901554404145
cq_000 1.1433506044905009
cr_000 77.22970639032816
cs_000 1.0500863557858378
cs_001 1.0500863557858378
cs_002 1.0500863557858378
cs_003 1.0500863557858378
cs_004 1.0500863557858378
cs_005 1.0500863557858378
cs_006 1.0500863557858378
cs_007 1.0500863557858378
cs_008 1.0500863557858378
cs_009 1.0500863557858378
ct_000 23.76511226252159
cu_000 23.76511226252159
cv_000 23.76511226252159
cx_000 23.76511226252159
cy_000 23.76511226252159
cz_000 23.76511226252159
da_000 23.76511226252159
db_000 23.76511226252159
dc_000 23.76511226252159
dd_000 4.442141623488774
de_000 4.82901554404145
df_000 7.115716753022452
dg_000 7.119170984455958
dh_000 7.119170984455958
di_000 7.112262521588947
dj_000 7.115716753022452
dk_000 7.115716753022452
dl_000 7.119170984455958
dm_000 7.122625215889465
dn_000 1.1433506044905009
do_000 4.825561312607944
dp_000 4.832469775474957
dq_000 4.832469775474957
dr_000 4.82901554404145
ds_000 4.832469775474957
dt_000 4.832469775474957
du_000 4.82901554404145
dv_000 4.82901554404145
dx_000 4.825561312607944
dy_000 4.82901554404145
dz_000 4.825561312607944
ea_000 4.825561312607944
eb_000 7.115716753022452
ec_00 17.385146804835923
ed_000 16.14853195164076
ee_000 1.0535405872193437
ee_001 1.0535405872193437
ee_002 1.0535405872193437
ee_003 1.0535405872193437
ee_004 1.0535405872193437
ee_005 1.0535405872193437
ee_006 1.0535405872193437
ee_007 1.0535405872193437
ee_008 1.0535405872193437
ee_009 1.0535405872193437
ef_000 4.82901554404145
eg_000 4.825561312607944

In [15]:
drop_col_name.__len__()

10

In [7]:
null_col=df.isna().sum()/df.shape[0]
null_col

class     0.000000
aa_000    0.000000
ab_000    0.772297
ac_000    0.059516
ad_000    0.256062
            ...
ee_007    0.010535
ee_008    0.010535
ee_009    0.010535
ef_000    0.048290
eg_000    0.048256
Length: 171, dtype: float64

In [8]:
x=null_col[null_col>.2].index
type(x)

pandas.core.indexes.base.Index

In [11]:
df =df.drop((x),axis=1)
df.shape

(28950, 147)

In [5]:
df2  =pd.read_csv("../aps_failure_training_set1.csv",na_values=["na"])

In [10]:
df.shape,df2.shape

((28950, 171), (36188, 171))

In [12]:
null_col1=df2.isna().sum()/df2.shape[0]
null_col1

class     0.000000
aa_000    0.000000
ab_000    0.770863
ac_000    0.059163
ad_000    0.254228
            ...
ee_007    0.010473
ee_008    0.010473
ee_009    0.010473
ef_000    0.047806
eg_000    0.047778
Length: 171, dtype: float64

In [16]:
null_col1.shape

(171,)

In [14]:
x1=null_col1[null_col1>.2].index

In [19]:
df2 =df2.drop(x1,axis=1)
df2.shape

(36188, 147)

In [20]:
base_columns=df2.columns
current_columns=df.columns
missing_col=[col for col in base_columns if col not in current_columns]

In [21]:
missing_col

[]

In [23]:
len([col for col in base_columns if col  in current_columns])

147